body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(164, 29, 29, 0.1);
    padding: 30px;
    text-align: center;
    width: 300px;
}

h1 {
    color: #4e8619;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #4e8619;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4e8619;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #69b620;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.error {
    color: rgb(255, 3, 3);
    margin-top: 20px;
}